name: Lint, format and test code
on:
  pull_request:
    branches:
      - main
    paths:
      - api/**
      - .github/workflows/ci-code.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Install dependencies
        working-directory: ./api
        run: |
          make install
          make install-dev

      - name: Lint
        working-directory: ./api
        run: make lint-ci

      - name: Format
        working-directory: ./api
        run: make fmt-ci

      - name: Test
        working-directory: ./api
        run: make test
